<%- include("../partials/header.ejs") %> 
  <h1><%= title %></h1>
  <% if(error) { %> 
    <h2><%= error %> </h2>
  <% } %> 
    <a href="/skills/<%= skill._id %>"><%= skill.text %></a>
  <% }) %>
  <a href="/skills">Skills Gotten</a>
  <a href="/skills/new">Gain New Skill</a>
<%- include("../partials/footer.ejs") %> 
